<div class='center'>
	<h1>Welcome, <%= @current_user.name %>!</h1>
	<h3>Trips to Join</h3>
</div>


<% if @trips.any? %>
	<div class="row">
		<% @trips.each do |trip| %>
      <div class="col l4 m6">
        <div class="card blue-grey darken-4">
          <div class="card-content white-text">
            <span class="card-title"><%= trip.title %></span>
            <p><%= trip.date %></p>
          </div>
          <div class="card-action">
            <!-- link to the creator user -->
            <%= link_to 'Trip Details', trip_path(trip) %>
         	</div>
        </div>
    	</div>	
		<% end %>
	</div>
<% end %>	

